body {
    font-family: Arial, sans-serif;
    background-color: #f8e1f4;
    color: #5c2d91;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #d14a85;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input {
    padding: 10px;
    border: 1px solid #d14a85;
    border-radius: 5px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

input[type="color"] {
    padding: 0;
}

button {
    background-color: #d14a85;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #b03061;
}

#fni{
    height: 250px;
    width:auto ;
}